# 디폴트 무시된 파일
/../../../공부/django/.idea/shelf/
/../../../공부/django/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../공부/django/.idea/httpRequests/
# Datasource local storage ignored files
/../../../공부/django/.idea/dataSources/
/../../../공부/django/.idea/dataSources.local.xml
