<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>블로그 목록</h1>
    <p><a href="{% url 'blog_create' %}">블로그 생성</a> / <a href="{% url 'done_list' %}">완료 목룍</a></p>
    {% for blog in blogs %}
    <p>
        <a href="{% url 'blog_detail' pk=blog.pk %}">
            {{ blog.title }} | {{ blog.created_at }} <a href="{% url 'blog_complete' pk=blog.pk %}">(완료 처리)</a> {% if blog.important == True %} (중요) {% endif %}
        </a>
    </p>
    {% endfor %}
</body>
</html>